body {
    font-family: 'IBM Plex Sans', sans-serif!important
}

.go-logo {
    width: 75px
}

.header-links {
    color: #3A3B3F
}

.header {
    margin-bottom: 0px!important;
    padding-right: 3.5rem!important;
    padding-left: 3.5rem!important;
    position: fixed!important
}

.header-links a,
.header-links a:hover {
    text-decoration: none
}

.header-links a:hover,
.header-links a.active {
    color: #13B66D!important
}

.header .logo-box,
.header .nav-box,
.header .cta-box {
    position: relative;
    display: inline-block
}

.header .col-md-4 {
    flex: none
}

.header .logo-box {
    max-width: 30%!important
}

.header .nav-box {
    max-width: 62%!important;
    text-align: right;
    padding: 0
}

.header .nav-box nav {
    position: relative;
    top: 5px
}

.header .cta-box {
    max-width: 8%!important;
    padding-left: 0;
    text-align: right
}

.header .header-links .p-2 {
    padding: 0 1.5rem!important
}

.header .header-links .p-2:first-child {
    padding-right: 0px!important
}

.jumbotron {
    padding: 5rem 0rem 12rem;
    background: url(../img/hero_background.gif) no-repeat;
    background-size: cover;
    position: relative;
    background-position: center bottom;
    height: 496px;
    margin-top: 60px
}

.jumbotron .container {
    text-align: center
}

.jumbotron .container .display-3 {
    font-size: 3rem;
    color: #0F2D80;
    font-family: 'IBM Plex Sans', sans-serif!important
}

.jumbotron .container a {
    margin-top: 2rem
}

.jumbotron .container {
    font-family: 'IBM Plex Sans', sans-serif!important;
    font-size: 1.2rem;
    color: #3A3B3F
}

.btn-success {
    color: #fff;
    background-color: #0ABF11;
    border-color: #0ABF11;
    outline: none
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #0ABF11;
    opacity: .9;
    outline: none
}

.jumbotron .container p {
    display: inline-block;
    width: 60%;
    padding: 1.5rem 1rem
}

.jumbotron .pulse-1 {
    position: absolute;
    left: 59.6rem;
    top: 28rem
}

.jumbotron .pulse-2 {
    position: absolute;
    left: 25%;
    top: 84%
}

.pulsating-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 20px;
    height: 20px
}

.pulsating-circle:before {
    content: '';
    position: absolute;
    display: block;
    width: 300%;
    height: 300%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #F0830E;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(.215, .61, .355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(.215, .61, .355, 1) infinite
}

.pulsating-circle:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #13B66D;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(.455, .03, .515, .955) -0.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(.455, .03, .515, .955) -0.4s infinite
}

@-webkit-keyframes pulse-ring {
    0% {
        -webkit-transform: scale(.33);
        transform: scale(.33)
    }
    80%,
    100% {
        opacity: 0
    }
}

@keyframes pulse-ring {
    0% {
        -webkit-transform: scale(.33);
        transform: scale(.33)
    }
    80%,
    100% {
        opacity: 0
    }
}

@-webkit-keyframes pulse-dot {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

@keyframes pulse-dot {
    0% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    100% {
        -webkit-transform: scale(.8);
        transform: scale(.8)
    }
}

.container-fluid {
    padding: 0px!important
}

.about-go {
    margin-top: 2%
}

.about-go .title-container {
    text-align: center;
    position: relative;
    top: 20px
}

.about-go .title-container .small-title {
    color: #A1AED5;
    font-size: 1rem
}

.about-go .title-container h2 {
    color: #0F2D80;
    font-size: 2rem;
    font-weight: 600
}

.about-go .content-container.visibility {
    margin-top: 5%;
    display: inline-block;
    width: 100%;
    height: 220px;
    background: url(../img/visibility_new.png) no-repeat;
    background-size: cover;
    background-position: center 40%;
    margin-bottom: 5%
}

.about-go .content-container.visibility .contents {
    display: inline-block;
    width: 50%;
    float: right
}

.about-go .content-container .contents .wrapper {
    width: 50%;
    color: #85878D;
    font-size: 1.1rem
}

.about-go .content-container .contents .wrapper .section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3A3B3F
}

.about-go .content-container .m-section-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: #3A3B3F;
    text-align: center;
    display: none
}

.about-go .divider {
    width: 70%;
    margin: 0 auto;
    background: #E8E8E8;
    height: 1px
}

.about-go .content-container.reliable {
    margin-top: 2%;
    margin-bottom: 2%;
    display: inline-block;
    width: 100%;
    height: 300px;
    background: url(../img/reliable.png) no-repeat;
    background-size: 25%;
    background-position: 80% center
}

.about-go .content-container.reliable .contents {
    display: inline-block;
    width: 65%;
    float: left;
    padding-left: 15%
}

.about-go .content-container.reliable .contents .wrapper {
    position: relative;
    top: 90px
}

.about-go .content-container.best-fleet {
    margin-top: 5%;
    display: inline-block;
    width: 100%;
    height: 300px;
    background: url(../img/best_fleet.png) no-repeat;
    background-size: 25%;
    background-position: 19% top
}

.about-go .content-container.visibility .contents .wrapper {
    position: relative;
    top: 55px
}

.about-go .content-container.reliable .contents .wrapper {
    position: relative;
    top: 90px
}

.about-go .content-container.best-fleet .contents .wrapper {
    position: relative;
    top: 50px
}

.about-go .content-container.best-fleet .contents {
    display: inline-block;
    width: 65%;
    float: right;
    padding-left: 15%
}

#shippers {
    background: #13B66D;
    color: #fff;
    padding-top: 60px;
    text-align: center;
    padding: 3rem
}

#shippers .title-container {
    text-align: center;
    margin-bottom: 50px
}

#shippers .title-container .small-title {
    font-size: 1rem;
    opacity: .6
}

#shippers .container,
#truckers .container {
    margin-top: 2%;
    padding-bottom: 60px
}

.icon-holder {
    text-align: center;
    display: inline-block;
    width: 75px;
    height: 75px;
    margin-bottom: 20px
}

.icon-holder.tracking {
    background: url(../img/shippers_icon_1.png) no-repeat;
    background-position: center;
    background-size: contain
}

.icon-holder.support {
    background: url(../img/shippers_icon_2.png) no-repeat;
    background-position: center;
    background-size: contain
}

.icon-holder.deliveries {
    width: 115px;
    height: 80px;
    background: url(../img/shippers_icon_3.png) no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 15px
}

.icon-holder.loads {
    background: url(../img/trucker_icon_1.png) no-repeat;
    background-position: center;
    background-size: contain
}

.icon-holder.payments {
    background: url(../img/trucker_icon_2.png) no-repeat;
    background-position: center;
    background-size: contain
}

.icon-holder.unloading {
    background: url(../img/trucker_icon_3.png) no-repeat;
    background-position: center;
    background-size: contain
}

#shippers .info-card .description .title,
#truckers .info-card .description .title {
    font-size: 1.2rem;
    font-weight: 600;
    font-family: 'IBM Plex Sans', sans-serif!important
}

#shippers .info-card .description p,
#truckers .info-card .description p {
    opacity: .6;
    font-size: 1.1rem;
    margin-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif!important
}

#shippers .btn-primary {
    margin-top: 5%;
    color: #13B66D;
    background-color: #fff;
    border-color: #fff;
    outline: none
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none!important
}

#truckers {
    background: #F0830E;
    color: #fff;
    padding-top: 60px;
    text-align: center;
    padding: 3rem
}

#truckers .title-container {
    text-align: center;
    margin-bottom: 50px
}

#truckers .title-container .small-title {
    font-size: 1rem;
    opacity: .6
}

#truckers .btn-primary {
    margin-top: 5%;
    color: #F0830E;
    background-color: #fff;
    border-color: #fff;
    outline: none
}

#requestCallBackModal .asterisk {
    color: red
}

#requestCallBackModal .name-error,
#requestCallBackModal .number-error {
    color: red;
    font-size: 10px
}

footer.border-top {
    background: #1A1A1A;
    padding: 3rem!important;
    margin: 0px!important;
    text-align: center;
    color: #85878D;
    border: 0 solid transparent!important
}

.about-go .content-container .m-cover-image {
    visibility: hidden
}

@media (min-width:1200px) {
    .container {
        max-width: 960px
    }
}

@media only screen and (max-device-width:1920px) {
    .jumbotron .pulse-2 {
        position: absolute;
        left: 12.7%;
        top: 83%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 5px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 60%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: 1rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 49%;
        top: 92%
    }
    .go-logo {
        width: 100px
    }
    .jumbotron {
        padding: 10rem 10rem 19rem;
        background-position: 52% 0%;
        height: 100%
    }
    .jumbotron .container p {
        display: inline-block;
        width: 60%;
        padding: 1.5rem 1rem;
        font-size: 1.2rem
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 3%
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:1440px) {
    .jumbotron .pulse-2 {
        position: absolute;
        left: 11.1%;
        top: 83%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 5px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 60%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right
    }
    .header a,
    nav {
        display: inline-block;
        font-size: 1rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 43.6rem;
        top: 32rem
    }
    .go-logo {
        width: 100px
    }
    .jumbotron {
        padding: 5rem 10rem 14rem;
        background-position: 52% 0%;
        height: 100%
    }
    .jumbotron .container p {
        display: inline-block;
        width: 75%;
        padding: 1.5rem 1rem;
        font-size: 1.2rem
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 3%
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:1366px) {
    .jumbotron .pulse-2 {
        position: absolute;
        left: 19.1%;
        top: 84%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 60%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0 !important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 40.6rem;
        top: 23rem
    }
    .go-logo {
        width: 70px !important;
    }
    .jumbotron {
        padding: 3rem 10rem 14rem;
        background-position: 52% 0%;
        height: 510px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:1280px) {
    .jumbotron .container p {
        display: inline-block;
        width: 50%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 22.8%;
        top: 84%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 10px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 60%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 38.3rem;
        top: 19rem
    }
    .go-logo {
        width: 50px
    }
    .jumbotron {
        padding: 3rem 1rem 14rem;
        background-position: 52% 0%;
        height: 475px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:1024px) {
    .jumbotron .container p {
        display: inline-block;
        width: 60%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 15.8%;
        top: 84%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important;
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 60%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0px!important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 30.5rem;
        top: 19rem
    }
    .go-logo {
        width: 70px
    }
    .jumbotron {
        padding: 3rem 1rem 14rem;
        background-position: 52% 0%;
        height: 400px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
    .about-go .content-container.reliable,
    .about-go .content-container.best-fleet {
        background-size: 32%
    }
}

@media only screen and (max-device-width:800px) {
    .about-go .content-container.visibility .contents .wrapper,
    .about-go .content-container.best-fleet .contents .wrapper {
        top: 15px;
        width: 70%
    }
    .about-go .content-container.reliable .contents .wrapper {
        width: 70%;
        top: 70px
    }
    .jumbotron {
        padding: 3rem 1rem 14rem;
        background-position: 45% 0%;
        height: 400px
    }
    .jumbotron .cta-button {
        margin-top: -2%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 9.6%;
        top: 84%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 29.3rem;
        top: 23rem
    }
}

@media only screen and (max-device-width:786px) {
    .jumbotron .container p {
        display: inline-block;
        width: 70%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 24%;
        top: 84%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0 !important;
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 60%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0 !important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 27.5rem;
        top: 24rem
    }
    .go-logo {
        width: 70px
    }
    .jumbotron {
        padding: 3rem 1rem 14rem;
        background-position: 20% 0%!important;
        height: 496px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:440px) {
    .about-go .content-container.visibility .contents .wrapper {
        top: 80px;
        width: 80%;
        margin: 0 auto
    }
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .about-go .content-container.reliable .contents .wrapper {
        top: 60px;
        width: 70%;
        margin: 0 auto
    }
    .about-go .content-container.best-fleet .contents .wrapper {
        top: 60px;
        width: 70%;
        margin: 0 auto
    }
    #shippers .info-card,
    #truckers .info-card {
        margin-bottom: 30px
    }
    #shippers .info-card .description p br,
    #truckers .info-card .description p br {
        display: none
    }
    #shippers .info-card .description p,
    #truckers .info-card .description p {
        display: inline-block;
        width: 80%
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 30%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 70%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 17.8%;
        top: 84%
    }
    .jumbotron {
        background: url(../img/hero_mobile.gif) no-repeat;
        background-size: cover;
        padding: 3rem 1rem 1rem;
        background-position: 0% 50%!important;
        height: 450px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 10px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%;
        padding: 0px!important;
        left: -5px!important
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 48px!important
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem;
        padding-left: 0;
        padding-right: 0
    }
    .jumbotron .container a {
        margin-top: 0
    }
    #shippers .info-card .description p,
    #truckers .info-card .description p {
        font-size: .955rem
    }
    .about-go .content-container .contents .wrapper {
        font-size: .9rem
    }
    .about-go .content-container .m-cover-image {
        visibility: visible;
        display: inline-block;
        width: 100%
    }
    .about-go .content-container .m-cover-image.visibility {
        background: url(../img/transparent.png) no-repeat;
        height: 200px;
        background-size: 230%;
        background-position: 5%;
        top: 0;
        position: relative
    }
    .about-go .content-container .m-cover-image.reliable {
        background: url(../img/reliable_m.png) no-repeat;
        height: 200px;
        background-size: 80%;
        background-position: center;
        top: -20px;
        position: relative
    }
    .about-go .content-container .m-cover-image.best-fleet {
        background: url(../img/best_fleet.png) no-repeat;
        height: 200px;
        background-size: 80%;
        background-position: center
    }
    .about-go .content-container .m-section-title {
        display: block;
        margin-top: 0
    }
    .about-go .content-container.visibility .m-section-title {
        position: relative;
        top: -20px
    }
    .about-go .content-container .contents .wrapper .section-title {
        display: none
    }
    .about-go .content-container.visibility .contents,
    .about-go .content-container.reliable .contents,
    .about-go .content-container.best-fleet .contents,
    .about-go .content-container .contents .wrapper {
        width: 100%
    }
    .about-go .content-container.best-fleet .contents {
        padding: 1rem;
        text-align: center;
        position: relative;
        top: -70px
    }
    .about-go .content-container.reliable .contents {
        padding: 1rem;
        text-align: center;
        position: relative;
        top: -90px
    }
    .about-go .content-container.visibility .contents {
        padding: 1rem;
        text-align: center;
        position: relative;
        top: -110px
    }
    .about-go .content-container.best-fleet {
        background: transparent;
        height: 420px;
        margin-top: 0%
    }
    .about-go .content-container.reliable {
        background: transparent;
        height: 370px
    }
    .about-go .content-container.visibility {
        background: transparent;
        height: 370px
    }
    .about-go .content-container.reliable .m-section-title {
        margin-top: 0;
        position: relative;
        top: -20px
    }
    .about-go .content-container.best-fleet .m-section-title {
        margin-top: 20px
    }
}

@media only screen and (max-device-width:414px) {
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 30%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 72%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 16.8%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 34% 0%;
        height: 450px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important;
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0px!important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 70px !important;
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:412px) {
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 25%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 78%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 15.8%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 32% 0%;
        height: 460px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0 !important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 70px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 30px
    }
}

@media only screen and (max-device-width:411px) {
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 25%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 78%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 15.8%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 32% 0%;
        height: 420px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important;
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0px!important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 70px !important;
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:384px) {
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 30%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 76.6%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 14.6%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 34% 0%;
        height: 470px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 10px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 50px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:375px) {
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 35%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 78%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 13.8%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 34% 0%;
        height: 475px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important;
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0px!important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 60px !important;
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:360px) {
    .header .header-links .p-2 {
        padding: 0 1rem!important
    }
    .about-go .content-container.reliable .contents .wrapper,
    .about-go .content-container.best-fleet .contents .wrapper {
        width: 80%
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 35%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 79.4%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 13.6%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 70% 0%!important;
        height: 470px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0 !important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 60px !important;
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}

@media only screen and (max-device-width:320px) {
    .header .header-links .p-2 {
        padding: 0 0.5rem!important
    }
    .jumbotron .cta-button {
        position: relative;
        margin-top: 30%
    }
    .jumbotron .pulse-1 {
        position: absolute;
        left: 83%;
        top: 76%
    }
    .jumbotron .pulse-2 {
        position: absolute;
        left: 11.8%;
        top: 84%
    }
    .jumbotron {
        padding: 3rem 1rem 1rem;
        background-position: 34% 0%;
        height: 450px
    }
    .jumbotron .container p {
        display: inline-block;
        width: 100%
    }
    .header {
        display: inline-block!important;
        padding-right: 10px!important;
        padding-left: 10px!important;
        width: 100%
    }
    .header .row {
        margin: 0
    }
    .header .nav-box nav {
        top: 0px!important;
    }
    .header .logo-box,
    .header .nav-box,
    .header .cta-box {
        position: relative;
        display: inline-block
    }
    .header .logo-box {
        width: 25%
    }
    .header .nav-box {
        width: 50%;
        text-align: right;
        padding: 0
    }
    .header .cta-box {
        width: 25%;
        padding-left: 0;
        text-align: right;
        top: 0px!important;
    }
    .header a,
    nav {
        display: inline-block;
        font-size: .8rem
    }
    .header nav.header-links {
        margin: 0px!important
    }
    .header nav.header-links a {
        padding-top: 0px!important
    }
    .go-logo {
        width: 50px
    }
    .jumbotron .container .display-3 {
        font-size: 2rem!important
    }
    .jumbotron .container p {
        font-size: 1rem
    }
    .jumbotron .container a {
        margin-top: 0
    }
}